.todo {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  transition: background .3s ease;

  p, input {
    margin: 0;
  }

  & div:first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: $quite-light-grey;
  }
}

.todo__subtext {
  color: $subtext;
  font-size: 0.8rem;
}

.todo-completed {
  p,
  .todo__subtext {
    color: $light-color;
    text-decoration: line-through;
  }
}
